.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: aqua;
}

.popup-content {
  background-color: rgb(165, 42, 42); /* Brown background color */
  padding: 20px;
  border-radius: 4px;
  position: relative;
}

.popup-close {
  position: absolute;
  top: 3%;
  left: 47%;
}
