.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.popup-scroll-container {
  max-height: 80vh;
  overflow-y: scroll;
}

.popup-scroll-container::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(40, 44, 52); /* Dark background color */
}

.popup-scroll-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:rgb(117, 117, 117); /* Scrollbar thumb color */
}
  
.popup-content {
  background-color: rgb(40, 44, 52); /* Dark background color */
  padding: 20px;
  border-radius: 4px;
  position: relative;
}

.popup-close {
  position: absolute;
  top: 0.7%;
  left: 92%;
}
