.delete-alert-container {
  position: absolute;
  bottom: 15%;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.delete-alert-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
}

.button-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.green-button,
.red-button {
  flex: 1;
  padding: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.green-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 15%;
}

.red-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 15%;
}